#logo {
  width: 12.5%;
  background-i
}

a {
  text-decoration: none;
}
#fixing {
  background-color: red;
  color: white;
  display: flex;
  list-style: none;
  margin: 1%;
  margin-left: 0%;
  justify-content: space-between;
}
#Flashes {
  background-color: #6364621c;
  color: white;
  margin-left: 0%;
  justify-content: space-between;
  width: 4% inherit;
  opacity: 1;
  padding: 3.2%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}
/* #theTitel {
border: solid 1px;
} */

 #markZuckerberg {
   width: 47%; 
  float: left;

}

.FlashesBox {
  color: #000000;
  padding: 0.2%;
  border-left: 2px solid black;
  width: 180px;
  display: block;
  font-size: 15px;
    cursor: pointer;
}
#theTitel {  
  direction: rtl;

  position: absolute;
  top: 109%;
  left: 89%;
  height: 343px;
  width: 9%;
}
/* #titel {
  display: inline;
  position: relative;
  bottom: 128px;
  left: 30px;
  font-size: xxx-large;
  animation-fill-mode: none;

}
#Titelparagraph {
  position: relative;
  right: 3px;
  bottom: 151px;
  font-size: xx-large;
} 
section {
  display: inline-block;
}
section h1 {
  display: inline;
} */
