a {
    op
}













































/* #div1 {
    height: 300px;
    width: 200px;
    background-color: blue;
}
#div2 {
    height: 200px;
    width: 300px;
    background-color: purple;
}
#div3 {
    height: 200px;
    width: 300px;
background-image: url('./photo4.jpg');}



































/* img {
  opacity: 0.5;
}











































/* .pic1 {
  margin: 50px;
  display: inline;
}
.pic2 {
  margin: 50px;
  display: inline;
}
.pic3 {
  margin: 50px;
  display: inline;
}
#pict1 {
  border: solid;
  margin: 1px;
}
#pict2 {
  border: solid;
  margin: 4px;
}
#pict3 {
  border: solid;
  margin: 9px;
}
#pict4 {
  border: solid;
  margin: 9px;
}
#pict5 {
  border: solid;
  margin: 9px;
}
#pict6 {
  border: solid;
  margin: 9px;
}
#pict7 {
  border: solid;
  margin: 9px;
}
#pict8 {
  border: solid;
  margin: 7px;
}
#pict9 {
  border: solid;
  margin: 3px;
}
#jj {
  padding: 25px;
  border: 404px;
  padding: 7cm;
}
.same {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 10px;
} */ 