.parent {
  height: 460px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
  background-color: aqua;
}
.div2 {
  background-color: yellow;
  grid-area: 2 / 1 / 3 / 5;
}
.div3 {
  background-color: violet;
  grid-area: 3 / 4 / 7 / 5;
}
.div4 {
  background-color: palegoldenrod;
  grid-area: 3 / 1 / 7 / 4;
}
.num {
  height: 25%;
  width: 33%;
}
#zero {
  width: 54%;
}
.operators {
  width: 100%;
  height: 25%;
}

.operatorsUp {
  height: 100%;
  width: 24%;
}
