* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  margin: 13px;
  display: flex;
  justify-content: space-between;
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 10%;
}

th,
td {
  padding: 15px;
}
