section {
  background-color: brown;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  /* align-content: center; */
}

#pink {
  background-color: pink;
  width: 30%;
  height: 200px;
  /* order: 5; */
}
#blue {
  background-color: blue;
  width: 30%;
  height: 200px;
  /* order: 1; */
  /* flex-grow: 1; */
}
#green {
  background-color: green;
  width: 30%;
  height: 200px;
  /* order: 4; */
}
#yellow {
  background-color: yellow;
  width: 30%;
  height: 200px;
  /* order: 2; */
  /* flex-shrink: 2; */
  /* align-self: flex-end; */
}
#black {
  background-color: black;
  width: 30%;
  height: 200px;
  /* order: 3; */
  /* flex-grow: 3; */
}
